<%= turbo_frame_tag "cart" do %>
  <div class="cart-card">
    <% if @cart.event_bookings.count > 0 %>
      <p>Cart total: £<%= @cart.total %></p>
    <% else %>
      <p>Your cart is empty!</p>
    <% end %>
    <%= button_to "Review checkout and pay", cart_path(@cart) %>
  </div>
<% end %>