<div>
  <h1>Your Cart</h1>
  <p>Your total is: £<%= @cart.total %></p>
  <%= render "cart/cart_items", cart: @cart %>
  <%= button_to "Submit Payment",
      checkout_create_path,
      method: :post,
      data: {turbo: false}
      %>
</div>