<div class="shops">
  <h1>Shops</h1>
  <% @shops.each do |shop| %>
    <%= render "shop_card", shop: shop %>
  <% end %>
  <%# if policy(@events).new? %>
    <%= link_to "Add store", new_shop_path %>
  <%# end %>
</div>