<div class="footer">
  <div class="text-center">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <p class="footer-text">Created by <strong>Benjamin Croad</strong></p>
        <hr class="footer-text">
        <a href="https://github.com/croab" target="_blank"><i class="fa-brands fa-github footer-logo"></i></a>
        <span class="footer-text">&nbsp;|&nbsp;</span>
        <a href="https://www.linkedin.com/in/benjamin-croad/" target="_blank"><i class="fa-brands fa-linkedin footer-logo"></i></a>
        <span class="footer-text">&nbsp;|&nbsp;</span>
        <a href="https://troopl.com/benjamincroad" target="_blank"><i class="fa-solid fa-globe footer-logo"></i></a>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>