#cart {
  z-index: 10;
  position: fixed;
  display: flex;
  right: 10vw;
  top: 12vh;
}

.cart-card {
  padding: 2vh 2vw;
  background-color: #FFD149;
  box-shadow: 1px 1px 1px black;
}

.hidden {
  display: none;
}